body {
  --rdm-primary-color: #fff;
}
body.rdm-dark {
  --rdm-primary-color: #fff;
}

.rdm-button {
  // linear gradient
  background: linear-gradient(
    45deg,
    var(--rdm-primary-bg),
    var(--rdm-primary-bg-2)
  );
  color: var(--rdm-primary-color);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.rdm-button[variant="secondary"] {
  background: linear-gradient(
    45deg,
    var(--rdm-secondary-bg),
    var(--rdm-secondary-bg-2)
  );
}
