.rdm-button {
  background-color: var(--rdm-primary-color);
  color: var(--rdm-secondary-color);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

@import "./switch.scss";
