/* Common variables */
body {


  // Switch // switch does not have any theme dependent variables
  --rdm-switch-width: 50px;
  --rdm-switch-height: 25px;
  --rdm-switch-slider-height: 18px;
  --rdm-switch-slider-width: 18px;
  --rdm-switch-slider-color: #fff;
  --rdm-switch-off-color: #6f6f6f;
  --rdm-switch-on-color: #007bff;
}

/* Light theme */
body {
  --rdm-primary-color: #007bff;
  --rdm-secondary-color: #606060;
}

/* Dark theme */
body.rdm-dark {
  --rdm-primary-color: #082a4f;
  --rdm-secondary-color: #03dac6;
}